platform:
  bootstrap:
    harness-secrets:
      mongodb:
        password: mqaiNXZAJUq6xXs5
      timescaledb:
        adminPassword: 6BlH8VD3Dt99bIF
        postgresPassword: ucgKJC6Tx0ZgigJm
        timescaledbStandbyPassword: zcYlJecQwWZf9ou0
      postgresdb:
        adminPassword: 6BlH8VD3Dt99bIF4
      sto:
        appHarnessToken: cHlDhwE0SgW3cMvn%
        appAuditJWTSecret: s5DTU2RsexjenlCr%
global:
  autoscaling:
    enabled: false
  pdb:
    create: true
  database:
    timescaledb:
      autoscaling:
        enabled: false
      hosts: 
      - timescaledb:5432
      installed: false
      sslEnabled: false
  license:
    secrets:
      kubernetesSecrets:
      - secretName: "harness-license"
        keys:
          NG_LICENSE: "NG_LICENSE"
  loadbalancerURL: https://harness.mcintosh.farm
  ingress:
    objects:
      annotations:
        cert-manager.io/cluster-issuer: cloudflare-issuer
    className: nginx
    hosts: 
    - harness.mcintosh.farm
    enabled: true
  ha: false
  iacm:
    enabled: true
  srm:
    enabled: true
  cet:
    enabled: false
  ## Features to enable
  cd:
    enabled: true
  code:
    enabled: false
  ci: 
    enabled: true
  sto:
    enabled: false
  ff: 
    enabled: false
  monitoring: false
